<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>AngularJs</title>
	<script type="text/javascript" src="../../lib/jquery.js"></script>
	<script type="text/javascript" src="../../lib/angular.js"></script>
	<script type="text/javascript" src="../js/app3.js"></script>
</head>
<body>

<p>Coucou</p>
<div ng-app="myModule">
	<div ng-controller="myCtrl">
	<label>Nom  : </label>
	<input type="text" ng-model="nom">
	<label>Prenom  : </label>
	<input type="text" ng-model="prenom">
	<label>Age  : </label>
	<input type="text" ng-model="age">
	<br><br><br><br>
	Nom : {{nom}}
	Prenom : {{prenom}}
	Age : {{age}}
		
	<br><br><br><br>
	<button clas="btn btn-info" ng-click="myF();"> Envoyer</button>
	</div>
</div>

</body>
</html>